*{
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.logo{
    height: 100px;
    width: 150px;
    padding:1px;
    
}
.banner{
    height: 100vh;
    background-image: url(./pascal-frei-nX7wOOBd0r4-unsplash.jpg);
    background-size: cover;
    width: 100%;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* background-color: rgb(61, 61, 61); */
   
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    color: white;
    font-weight: 550;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    
}
.content h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
    
}
 .content p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.content{
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
    
}

.content h4{
    color:white;
    font-size: 30px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.card1 img{
    width: 300px;
    height: 300px;
    padding-right: 70px;
    padding-left: 70px;
}
.selection{
    background-color: rgb(255, 255, 255);
    display: flex;
}
.heading{
    color:rgb(0, 0, 0);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    

   
}
.card2 img{
    height: 300px;
    width: 300px;
    padding-right: 70px;
    padding-left: 70px;
    
}
.card3 img{
    height: 300px;
    width: 300px;
    padding-right: 70px;
    padding-left: 70px;
}
.card1 h4{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    color: rgb(1, 1, 1);

}
.card1 h1{
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}
.card2 h1{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}
.card3 h1{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}
.card2 h4{
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 30px;
    color: rgb(1, 1, 1);
}
.card3 h4{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    color: rgb(1, 1, 1);
}
.selection{
    padding-top: 50px;
    padding-bottom: 150px;
}
.news{
    background-color: rgb(77, 77, 77);
    padding-bottom: 100px;
}
.news h1{
    padding-top: 100px;
   padding-left: 43%;
   color: white;
}
.news h4{
    padding-top: 20px;
    padding-left: 34%;
 
    color: white;
    font-weight: lighter;
}
.news button{
  margin-left: 44%;
  padding: 20px 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 2px;
  margin-top: 10px;
  background-color:red;
  color: white;
  border: transparent;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;


}
.discover{
    padding: 15px 15px;
    border: 5px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 65px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.desc{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}
.search{
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 2px solid black;
    background: transparent;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 3%;
}
.explore{
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 2px solid black;
    background: transparent;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 3%;
}
.disc{
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 2px solid black;
    background: transparent;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 3%;
}